altgraph==0.17
boto3==1.16.23
botocore==1.19.23
jmespath==0.10.0
macholib==1.14
pycrypto==2.6.1
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
python-dateutil==2.8.1
python-gnupg==0.4.6
pytz==2020.4
s3transfer==0.3.3
six==1.12.0
urllib3==1.26.2
